@inherits FeedbackComponent<FamilyLineItemViewModel, FamilyLineItemViewModel>
@inject ModalService _modalService
@inject IGetFamilyPartsUseCase _getFamilyPartsUseCase
@inject IUpdateFamilyPartsUseCase _updateFamilyPartsUseCase
@inject IUpdateFamilyPartUseCase _updateFamilyPartUseCase

@if (_parts != null)
{
    @if (Options.Group.Id == null)
    {
        <Alert Message="未指派分组，请返回指派！" Type="@AlertType.Warning" ShowIcon="true"/>
    }
    else
    {
        @if (_parts.Any(x => x.NeedUpdate))
        {
            <Alert Message="检测到PartNumber冲突，请更新！" Type="@AlertType.Warning" ShowIcon="true"/>
        }
    }
}

<Descriptions Size="small">
    <TitleTemplate>
        <Row Align="bottom" Style="margin-right: 16px; margin-bottom: 0.5rem;">
            <GridCol Flex="@("auto")">
                <Title Level="3">@Options.Name</Title>
            </GridCol>
            <GridCol Style="margin-bottom: 0.6rem;">
                <Text Type="secondary" Strong="false" Copyable>@Options.Id</Text>
            </GridCol>
        </Row>
    </TitleTemplate>
    <ChildContent>
        <DescriptionsItem Title="组">
            @Options.Group.DisplayName
        </DescriptionsItem>
        <DescriptionsItem Title="组Id">@Options.Group.Id</DescriptionsItem>
        <DescriptionsItem Title="编码">@Options.Group.ShortName</DescriptionsItem>
        <DescriptionsItem Title="库">@Options.Library.Name</DescriptionsItem>
        <DescriptionsItem Title="库Id" Span="2">
            <Text Copyable>@Options.Library.Id</Text>
        </DescriptionsItem>
        <DescriptionsItem Title="描述" Span="3">@Options.Description</DescriptionsItem>
    </ChildContent>
</Descriptions>

<Divider Orientation="left">
    零件
    <Tooltip Title="@("同步AE_PartNumber属性至族")">
        <Button Icon="sync" Type="@ButtonType.Link" Disabled="@(Options.Group.Id == null)" OnClick="UpdatePartNumbers"></Button>
    </Tooltip>
</Divider>

<Spin Spinning="@_isLoading">
    <Table TItem="PartLineItemViewModel" DataSource="@_parts"
           Size="@TableSize.Small"
           RowClassName="@(x => x.Data.NeedUpdate ? "warning" : "")">
        <Column @bind-Field="@context.Name"/>
        <Column @bind-Field="@context.InventorPartNumber"/>
        <Column @bind-Field="@context.DatabasePartNumber"/>
        <ActionColumn Title="操作">
            <Space>
                <SpaceItem>
                    <Button OnClick="() => UpdatePartNumber(context)" Disabled="@(!context.NeedUpdate || Options.Group.Id == null)">更新</Button>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
</Spin>

<style>
    .warning {
        background-color: rgb(255,251,230);
    }
</style>

@code
{
    /// <summary>
    ///     Indicates whether the table is loading.
    /// </summary>
    private bool _isLoading;

    /// <summary>
    ///     ViewModel of the page.
    /// </summary>
    private IEnumerable<PartLineItemViewModel> _parts;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        await base.OnInitializedAsync();
        await ReloadPartsAsync();

        _isLoading = false;
    }

    private async Task ReloadPartsAsync()
    {
        _parts = (await _getFamilyPartsUseCase.Execute(Options.Id, Options.Library.Id)).Select(x =>
            new PartLineItemViewModel
            {
                DatabasePartNumber = x.DatabasePartNumber,
                Id = x.Id,
                Name = x.InventorFileName,
                PartInternalName = x.PartInternalName,
                InventorPartNumber = x.InventorPartNumber
            }).ToList();
    }

    private async Task UpdatePartNumbers()
    {
        _isLoading = true;

        await _updateFamilyPartsUseCase.Execute(Options.Id, Options.Library.Id);
        await ReloadPartsAsync();

        _isLoading = false;
    }

    private async Task UpdatePartNumber(PartLineItemViewModel context)
    {
        _isLoading = true;

        var part = await _updateFamilyPartUseCase.Execute(context.PartInternalName, Options.Id, Options.Library.Id);
        context.InventorPartNumber = part.InventorPartNumber;
        context.DatabasePartNumber = part.DatabasePartNumber;

        _isLoading = false;
    }
}